@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: var(--text-white);
  list-style-type: none;
  font-weight: 200;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
  border-radius: 12px;
}
::-webkit-scrollbar-button{
  width: 10px;
  color: white;
}

:root {
  --text-white: #ffffff;
}
body{
  background: #252525;
}
html {
  scroll-behavior: smooth;
}
/* Header*/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 151px;
}
nav ul,
nav ul li {
  display: flex;
  gap: 16px;
}
.header nav {
  display: flex;
  z-index: 1;
}
.header img {
  position: absolute;
  width: 76px;
  height: 79px;
  left: 65px;
  top: 31px;
}
.header .nav-links {
  color: #ffa400;
  display: flex;
  flex-direction: row;
  padding-right: 8rem;
  gap: 50px;
}
i {
  color: #ffa400;
}
.nav-links a {
  font-weight: 400;
}
.nav-links-icon {
  display: flex;
  gap: 80px;
}
nav ul li a {
  font-family: "Montserrat";
  color: white;
}
/* main-section-1 */



main{
  height: 100%;
  flex-direction: column;
  display: flex;
}
#section-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.info-1{
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  gap: 40px;
}
.info-1 h1{
  font-size: 66px;
  font-weight: 700;
  width: 603px;
}
.info-1 span{
  font-size: 51px;
  font-weight: 700;
}
.info-1 p{
  font-size: 21px;
  font-weight: 400;
}
.info-1 a{
  padding: 18px 22px;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
  width: 166px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.103));
  transition: all 0.4s ease-out;
}
.info-1 a:hover{
  filter: drop-shadow(0 0 0.75rem crimson);
  transition: all 0.3s ease-in;
}
.pizzaimg{
  position: relative;
}
.pizza1{
  width: 265px;
  height: 265px;
}
.pizza2{
  width: 392px;
  height: 392px;
  position: absolute;
  left: 120px;
  bottom: -14px;
}

/* Sección 3-Categorias */
#section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#section-3 h4{
  text-align: start;
}
.categorias{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 34px;
}

h4 {
  font-weight: 800;
  font-size: 15px;
  padding: 20px 10px;
}

.img-icons{
  width: 85px;
  height: 85px;
}
.food-categ span{
  width: 25px;
  height: 3px;
  background-color: #FB103D;
}
.food-categ {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  justify-content: center;
  border-radius: 15px;
  width: 147px;
  height: 171px;
  gap: 10px;
  
}

.food-categ h6 {
  font-weight: 400;
  font-size: 15px;
}

.food-categ p {
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
border-radius: 15px;
}

.food-categ::after {
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}
/* Sección 3-Categorias */
/*Section de Agustín Assadourian*/
.nuestro-menu{
  display: flex;
  gap: 30px;
  padding: 30px 0;
  flex-flow: row wrap;
  justify-content: center;
}
.Menu-container{
  display: flex;
}
.Menu-list {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  gap: 20px;
  width: 282px;
  height: 213px;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);

}
.Producto-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Menu-list img{
  width: 70%;
}
.Menu-info h3 {
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.Menu-info p {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}


.Menu-offer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.Menu-offer span {
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 19px;
  font-weight: 700;
}

.Menu-offer button {
  width: 80px;
  height: 30px;
  font-size: 12px;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 18px;
  cursor: pointer;
  letter-spacing: 0.5px;
  
}





/* FOOTER*/
.footer-links {
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  gap: 2rem;
}
#footer {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 60px;
}
footer p {
  color: white;
  text-align: center;
}
